<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録</title>
</head>
<body>
	<h1>新規登録画面</h1>
	<form th:action="@{/show}" method="post" th:object="${registerUser}">
		名前:<input type="text" th:field="*{name}"><br>
<!--		<p th:if="${#fields.hasErrors('name')}" th:text="${#fields.errors('name')}"></p>-->
		パスワード:<input type="password" th:field="*{pass}"><br>
<!--		<p th:if="${#fields.hasErrors('pass')}" th:text="${#fields.errors('pass')}"></p>-->
		年齢:<input type="number"  th:field="*{age}"><br>
<!--		<p th:if="${#fields.hasErrors('age')}" th:text="${#fields.errors('age')}"></p>-->
		<input type="submit" value="新規登録">
		<ul th:if="${#fields.hasErrors('*')}" style="color:red">
			<li th:each="err:${#fields.errors('*')}" th:text="${err}"></li>
		</ul>
	</form>
</body>
</html>